@using BalzorRenderModes.Api
@using BlazorRenderModes.Client.Models
@using BlazorRenderModes.Client.Services
<div class="p-3">

    <h3>RenderModeTest Component</h3>

    <p>@Counter</p>
    <button @onclick="TestClick">Test Btn</button>
</div>

@code {
    [Inject]
    private CounterClientService counterClientService { get; set; }

    private int Counter { get; set; } = 0;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task TestClick()
    {
        Counter = await counterClientService.Increment(Counter);
        StateHasChanged();
    }
}