@using BlazorRenderModes.Client.Api
<div class="p-3">

    <h3>RenderModeTest Component</h3>

    <p>@counter</p>
    <button @onclick="TestClick">Test Btn</button>
</div>

@code {
    [Inject]
    private CounterClientService counterClientService { get; set; }

    private int counter { get; set; } = 0;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task TestClick()
    {
        counter = await counterClientService.Increment(counter);
        StateHasChanged();
    }
}

