<div class="p-3">

    <h3>RenderModeTest Component</h3>

    <p>@value</p>
    <button @onclick="TestClick">Test Btn</button>
</div>

@code {
    private int value { get; set; } = 0;

    private void TestClick()
    {
        value++;
    }
}

