@using BlazorRenderModes.Client.Api
@using BlazorRenderModes.Client.Models
<div class="p-3">

    <h3>RenderModeTest Component</h3>

    <p>@obj.Value</p>
    <p>@obj.Name</p>
    <button @onclick="TestClick">Test Btn</button>
</div>

@code {
    [Inject]
    private CounterClientService counterClientService { get; set; }

    private Counter obj { get; set; }  = new Counter(){ Value = 0, Name = "Counter"};

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task TestClick()
    {
        obj = await counterClientService.Increment(obj);
        StateHasChanged();
    }

}


